<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pocta">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <service android:name=".ImmobilizerService" />
        <service android:name=".ImmobilizerBluetoothService" />

        <!--Main Activity-->
        <activity android:name=".HubActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Child Activity-->
        <activity
            android:name=".RenameActivity"
            android:parentActivityName=".HubActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HubActivity" />
        </activity>

        <activity
            android:name=".PinActivity"
            android:parentActivityName=".HubActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HubActivity" />
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".HubActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HubActivity" />
        </activity>
        <activity
            android:name=".LogActivity"
            android:parentActivityName=".HubActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HubActivity" />
        </activity>
    </application>

</manifest>